

<table align="center">
<tr>
<p><td class="waku"><h5>マイページ</h5></td></p>
</tr>
</table>


<table>
<th>
  <p>
<div class = "text">
<h5>登録情報</h5>
  <td>
<%= link_to "編集する", edit_customer_registration_path, class: "btn btn-primary btn-sm" %>
</td>
<td><%= link_to "パスワードを変更する", edit_customer_password_path, class: "btn btn-primary btn-sm" %>
</td>
</th>
</table>
</p>
</div>

<table  border="1" class="table-profile">
  <tr>
    <th class="default">氏名</th>
  	<td class="registered"><%= @customer.family_name %><%= @customer.first_name %></td>
  </tr>
  <tr>
  	<th>カナ</th>
  	<td><%= @customer.family_name_kana %><%= @customer.first_name_kana %></td>
  </tr>
  <tr>
  	<th>郵便番号</th>
  	<td><%= @customer.postal_code %></td>
  </tr>
  <tr>
  	<th>住所</th>
  	<td><%= @customer.address %></td>
  </tr>
  <tr>
  	<th>電話番号</th>
  	<td><%= @customer.phone_number %></td>
  </tr>
  <tr>
  	<th>メールアドレス</th>
  	<td><%= @customer.email %></td>
  </tr>
</table>


<div class = "text">
<table>
<th>
  <p><h5>配送先</h5></p>
</th>
<th>
<%= link_to "一覧を見る", customer_shipping_addresses_path, class: "btn btn-primary btn-sm" %>
</th>
</div>

<div class = "text">
<tr>
<td>
<h5>注文履歴</h5>
</td>
<td>
<%= link_to "一覧を見る", customer_orders_path, class: "btn btn-primary btn-sm" %>
</td>
<tr>
</div>
</table>

<style>
.waku{
 background-color: #f0f0f0;
 padding:10px;
 padding:8px;
 }


}
.table{
  margin-right:10px;
}
.table-profile th:nth-child(odd){
 background-color: #f0f0f0;
 font-size:15px;
 font-weight: normal;
}
.table-profile td{
 padding:7px;
}
.table-profile{
 margin:20px;
}
.text{
 padding:0 10px 0 20px;
}
.btn{
 margin:0 2px 0 10px;
}
.default{
width:200px;
}
.registered{
width:700px;
}


</style>






