<h2>商品　編集画面</h2>

<%= form_for(@item, url: admin_item_path) do |f| %>

<div>
  <%= attachment_image_tag @item, :image, :fill, 300, 300, fallback: "no_image.jpg" %>
  <%= f.attachment_field :image %>
</div>
<div>
  <div class="field">
	<%= f.label :name, "商品名" %><br />
	<%= f.text_field :name, value: "#{@item.name}" %>
  </div>

  <div class="field">
	<%= f.label :description, "商品説明" %><br />
	<%= f.text_area :description,  value: "#{@item.description}" %>
  </div>

  <div class="field">
	<%= f.label :genre_id, "ジャンル" %><br />
	<%= f.collection_select(:genre_id, @genres, :id, :name) %>
  </div>

  <div class="field">
	<%= f.label :non_taxed_price, "税抜き価格" %><br />
	<%= f.text_field :non_taxed_price,  value: "#{@item.non_taxed_price}" %>
  </div>

  <div class="field">
	<%= f.label :sale_status, "販売ステータス" %><br />
	<%= f.select :sale_status, [["売り切れ",0],["販売中",1]] %>
  </div>

  <!--販売ステータスについては定義次第、書き換え予定-->

  <div class="actions">
	<%= f.submit "変更を保存" %>
  </div>
</div>

<% end %>

