<div class="row">
  <div class="col-xl-7">
    <div style="min-height: 8vh;">
      <h3 class="mb-4">商品新規登録</h3>
    </div>

    <%= form_for(@item, url: admin_items_path, method: :post) do |f| %>
     <label>Image</label>
       <div><%= f.attachment_field :image %></div>
      <br/>

      <%= f.label :name, "商品名" %>
      <%= f.text_field :name %>
      <br/>

      <%= f.label :description, "商品説明" %>
      <%= f.text_area :description %>
      <br/>

      <%= f.label :genre_id, "ジャンル" %>
      <%= f.collection_select(:genre_id, @genres, :id, :name) %>
      <br/>

      <%= f.label :non_taxed_price, "税抜価格" %>
      <%= f.text_field :non_taxed_price %>
      <br/>

      <%= f.label :sale_status, "販売ステータス" %>
       <%= f.select :sale_status, [[:販売中],[:売り切れ]]  %>
      <br/>

      <%= f.submit "新規登録", class:"btn btn-sm btn-secondary" %>

    <% end %>


  </div>
</div>