<h3>商品　詳細画面<h3>

<%= attachment_image_tag @item, :image, :fill, 50, 50, fallback: "no_image.jpg", style: "width: 50px; height: 50px;"  %>
<table>
      <tr>商品名<%= @item.name %></tr><p></p>
      <tr>商品説明<%= @item.description %></tr><p></p>
      <tr>ジャンル<%= @item.genre_id %><p></p></tr>
      <tr>税込価格(税抜価格)<%= @item.non_taxed_price %></tr>
      <tr>販売ステータス<%= @item.sale_status %></tr><p></p>
</table>
      <%= link_to "編集する",edit_admin_item_path(@item) %>

