<h1>注文情報確認</h1>
<table class = "table table-striped">
	<thead>
		<tr>
			<th>商品</th>
			<th>単価</th>
		    <th>数量</th>
		    <th>小計</th>
		</tr>
	</thead>
	<tbody>
	　<%= @cart_items.each do |cart_item| %>
		<tr>
			<td><%= cart_item.item.name %></td>
			<td><%= cart_item.item.non_taxed_price %></td>
			<td><%= cart_item.quantity %></td>
			<td><%= cart_item.item.non_taxed_price.to_i * cart_item.quantity.to_i %></td>
		</tr>
	  <% end %>
	</tbody>
</table>




<h3>支払方法</h3>
<%= @order.payment %>


<h3>お届け先</h3>
<%= @order.addressee %><br/>
<%= @order.delivery_postcode %><br/>
<%= @order.delivery_address %><br/>

<%= form_for(@order ,url: customer_orders_path, method: :post) do |f| %>
<% f.hidden_field :total_price, value: "500" %>
<% f.hidden_field :order_status, value: :入金待ち %>
<% f.hidden_field :addressee, value: "12345" %>
<% f.hidden_field :delivery_postcode, value: "12345" %>
<% f.hidden_field :delivery_address, value: "12345" %>
<% f.hidden_field :payment, value: :クレジットカード %>
<% f.hidden_field :postage, value: "800" %>
<% f.hidden_field :customer_id, value: current_customer.id %>
<% f.submit '注文確定' %>
<% end %>