<div class="row">
  <div class="col">
    <div style="min-height: 8vh;">
      <h3>ご注文履歴</h3>
    </div>
  </div>
</div>
<% if @orders.empty? %>
  <p class="ml-3">ご注文はまだありません。</p>
<% else %>
  <% @orders.each do | order | %>
  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col border-bottom mx-3">
          <div class="row">
          <div class="col-4">
            <h5>ご注文日</h5>
            <p class="ml-3"><%= order.created_at.to_s(:datetime_jp) %></p>
          </div>
          <div class="col-3">
            <h5>お支払方法</h5>
            <p class="ml-3"><%= order.payment %></p>
          </div>
          <div class="col-3">
            <h5>ステータス</h5>
            <p class="ml-3"><%= order.order_status %></p>
          </div>
          <div class="col-2">
            <%= link_to '詳細を見る>>', customer_order_path(order),class:"btn btn-warning text-white px-3 badge-pill mt-2" %>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-5 mt-3">
          <div class="mx-3">
            <h5 class="mb-3">お届け先</h5>
            <% @postcode = order.delivery_postcode.dup %>
            <p class="ml-3"><%= order.addressee %></p>
            <p class="ml-3"><%= post_code(@postcode) %></p>
            <p class="ml-3"><%= order.delivery_address %>
            </p>
          </div>
        </div>
        <div class="col-xl-7 border-left mt-2">
        <% @total_quantity = 0 %>
        <% order.order_items.each do | order_item | %>
          <% @total_quantity += order_item.quantity.to_i %>
          <div class="row no-gutters">
            <div class="d-flex col-xl border-bottom">
              <div class="p-2 mr-3" style="width: 60px;" >
                <%= attachment_image_tag order_item.item, :image, :fill, 60, 60, fallback: "no_image.jpg", size:"60x60", class:"float-left" %>
              </div>
              <div class="p-2">
                <p class="card-title mb-0">
                  <strong>
                    <%= order_item.item.name %>
                  </strong>

                <p class="ml-auto mb-0">
                  <span class="text-primary">
                    <%= yen((order_item.item.non_taxed_price.to_i * 1.1).floor) %>
                  </span>
                  <small>: <%= order_item.quantity %>点
                  </small>
                </p>
                <p class="mb-0">
                  <%= link_to"レビューを書く",customer_item_comments_path(order_item.item_id) %>
                </p>
              </div>
              <p class="ml-auto mr-3 mt-2">計:
                <strong class="text-primary">
                  <%= yen((order_item.item.non_taxed_price.to_i * order_item.quantity.to_i * 1.1).floor) %>
                </strong>
              </p>
            </div>
          </div>
        <% end %>
        <div class="mt-2 mr-3">
          <p class="text-right">合計金額<small>(送料込み)</small><%= @total_quantity %> 点:
            <strong class="text-primary"><%= yen(order.total_price) %>
            </strong>
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
<div class="row">
  <%= paginate @orders,class: "paginate"%>
</div>