<h2>注文情報入力</h2>

<h3>支払方法</h3>

<%= form_tag(confirm_customer_orders_path) do %>

  <%= radio_button_tag :payment, :銀行振込 %> 銀行振込
  <%= radio_button_tag :payment, :クレジットカード %> クレジットカード


<h3>お届け先</h3>

  <%= radio_button_tag :shipping, 0 %> ご自身の住所<br/>
  <%= radio_button_tag :shipping, 1 %> 登録済住所から選択<br/>
  <%= collection_select(:exist_address, :address_id, current_customer.shipping_addresses, :id, :addressee) %><br/>

  <%= radio_button_tag :shipping, 2 %> あたらしいお届け先<br/>
  <%= text_field_tag :new_shipping_postcode %>郵便番号<br/>
  <%= text_field_tag :new_shipping_address %>住所<br/>
  <%= text_field_tag :new_addressee %>宛名<br/>

  <%= submit_tag '登録' %>
<% end %>