
注文履歴詳細

  <div class="card-header">
    <tr>
          <td>注文日</td>
          <td><%= @order.created_at.to_s(:datetime_jp) %></td>
         </tr>
     </div>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">配送先</h5>
<p style="text-align:center">
        <%= @order.delivery_postcode %><br>
      <%= @order.delivery_address %><br>
      <%= @order.addressee %></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">支払い方法</h5>
      <p style="text-align:center"><%= @order.payment %></p><br>

</table>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ステータス</h5>
      <p style="text-align:center">
        <%= @order.order_status %>
      </p>
</div>
</div>

</div>
</div>


<div class="text">

<div class="container">

<h5>注文内容</h5>
  <div class="row">

    <div class="col-md-2">
      <table class="border" width="1140" height="500">

          <tr class="top-tr">
            <th class="box">商品</th>
        <th class="box2">単価(税込)</th>
      <th class="box3">個数</th>
      <th class="box4">小計(税込)</th>
    </tr>
    <h3>
        <% @order.order_items.each do |order_item| %>
    <tr class="second-tr">
      <td><%= attachment_image_tag order_item.item, :image, :fill, 100, 100, fallback: "no_image.jpg",class:"float-left" %>
      <div class="konyu"><h6><%= order_item.name %></h6></td>
      <td class="text-right"><%= order_item.price %></td>
      <td class="text-right"><%= order_item.quantity %></td>
      <td class="text-right"><%= (order_item.price.to_i * order_item.quantity.to_i).floor %></td>
        </tr>
    <% end %>


  <tr class height="150">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>






  <tr class height="15">
    <td></td>
    <td></td>
    <td class="text-right"><h6>合計(税込):</h6></td>
    <td class="box5"><h6><%= (@order.total_price.to_i - 800).floor %></h6></td>
  </tr>
  <tr class height="15">
    <td></td>
    <td></td>
    <td class="text-right"><h6>配送料:</h6></td>
    <td class="box6"><h6>800</h6></td>
  </tr>
  <tr class height="15">
    <td></td>
    <td></td>
    <td class="text-right"><h6>支払い金額:</h6></td>
    <td class="box7"><h5><%= @order.total_price %></h5></td>
  </tr>
    </tbody>
   </table>

  </div>
   <div class="col-md-9">

    </div>
  </div>


<style>
.konyu{
margin:40px 0 0 250px;
}
.text{
  margin:50px;
}
.box{
 width:750px;
  text-align:center;
}
.box2{
width:100px;
text-align:right;
}
.box3{
text-align:right;
width:150px;
}
.box4{
text-align:right;
width:410px;
}
.box5{
width:460px;
text-align:right;
}
.box6{
width:460px;
text-align:right;
}
.box7{
width:460px;
text-align:right;
color: #FF9191;
}

.top-tr{
  background: #ffc0cb;
}
.second-tr{
border-bottom: 1px solid silver;
}
.card-title{
 text-align:center;
}
.jyusyo{
 text-align:center;
}




</style>
