

  <div class="card-header">
    <tr>
          <td>注文日</td>
          <td><%= @order.created_at.to_s(:datetime_jp) %></td>
         </tr>
     </div>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">配送先</h4>
      <table class="card-text">
        <tr><%= @order.delivery_postcode %></tr><br>
      <tr><%= @order.delivery_address %></tr><br>
      <tr><%= @order.addressee %></tr>
     </table>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">支払い方法</h4>
      <table class="card-text"><%= @order.payment %><br>

</table>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">ステータス</h4>
      <table class="card-text">
        <%= @order.order_status %>
      </table>
</div>
</div>

</div>
</div>


<div class="text">
<h4>注文内容</h4>
<div class="pr-2 text-right" style="width: 100%; border-bottom: 1px solid rgba(0,0,0,0.1);">
  <small class="text-muted">価格</small>
</div>
<% @order.order_items.each do |order_item| %>
<%= order_item.price %>
<%= order_item.quantity %>
  <div class="row no-gutters">
    <div class="d-flex col-xl border-bottom">
      <div class="p-2 mr-3" style="width: 180px;" >
        <%= order_item.name %>
          <%= attachment_image_tag cart_item.item, :image, :fill, 180, 180, fallback: "no_image.jpg",class:"float-left" %>
          <% end %>
      </div>
      <div class="p-2">
        <h5 class="card-title"><%= link_to cart_item.item.name, customer_item_path(cart_item.item) %></h5>
        <%= form_for(cart_item, url: customer_cart_item_path(cart_item)) do |f| %>
          <div class="input-group mt-5" style="width: 10rem">
        <% end %></div>
        計: ￥<%= (cart_item.item.non_taxed_price.to_i * cart_item.quantity.to_i * 1.1).floor %>
      </div>
      <p class="ml-auto"><strong>￥<%= (cart_item.item.non_taxed_price.to_i * 1.1).floor %></strong></p>
    </div>
  </div>
<% end %>

<div class="mt-1">
  <p class="text-right">小計 (<%= @total_quantity %> 点):
    <strong>￥<%= (@total *1.1).floor %></strong></p>
  </td>
</div>


<style>
.text{
  margin:50px;
}
.box{
 width:750px;
  text-align:center;
}
.box2{
width:100px;
text-align:right;
}
.box3{
text-align:right;
width:150px;
}
.box4{
text-align:right;
width:410px;
}
.box5{
width:460px;
text-align:right;
}
.box6{
width:460px;
text-align:right;
}
.box7{
width:460px;
text-align:right;
color: orangered;
}

.top-tr{
 background: #ffc0cb
}
.second-tr{
border-bottom: 1px solid silver;
}

</style>
