

 <div class="card-header">
  	<tr>
          <td>注文日</td>
          <td><%= @order.created_at.to_s(:datetime_jp) %></td>
         </tr>
     </div>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">配送先</h4>
      <table class="card-text">
      	<% @order.order_items.each do |order_item| %></p>
        <tr><%= @order.delivery_postcode %></tr><br>
    	<tr><%= @order.delivery_address %></tr><br>
    	<tr><%= @order.addressee %></tr>
     </table>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">支払い方法</h4>
      <table class="card-text"><%= @order.payment %><br>
     <tr>
         <p><h4><td>ステータス</td></h4></p>
         <td><%= @order.order_status %></td>
　　</tr>
</table>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">請求情報</h4></p>
      <table class="card-text">
      	<tr>
	      <td>小計(税込)</td>
	      <td><%= (order_item.price.to_i * order_item.quantity.to_i).floor %></td>
        </tr>
        <tr>
        <td>配送料</td>
	    <td>800</td>
        </tr>
        <tr>
        	<td>商品合計</td>
			<td><%= @order.total_price %></td>
		</tr>
	</table>
</div>
</div>

		<% end %>

</div>
</div>




