<div class="slick-box<%= slick_like_number %>">
  <% items.each do |item| %>
    <div class="slick_like_capsule">
      <%= link_to customer_item_path(item) do %>
        <div class = "slick_like_body">
          <div class = "mask">
            <div class ="caption">more..</div>
          </div>
          <%= attachment_image_tag item, :image, :fill, 200, 150, fallback: "no_image.jpg", size:"200x150" %>
        </div>
        <p class="mb-0 text-right mr-1" style="line-height: 1.2rem;">
          <small><strong><%= item.name %></strong></small><br/>
          <small><strong class="text-primary"><%= yen(item.non_taxed_price) %></strong></small><small class="text-muted">(税込)</small>
        </p>
      <% end %>
      <% if customer_signed_in? %>

        <div class="ml-2 slick_favorite">

          <% if item.liked_by?(item, current_customer) %>
            <%= link_to customer_item_likes_path(item_id: item.id), method: :delete, id:"like-button", remote: true do %>
              <i class="fas fa-heart text-primary mb-0" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <%= link_to customer_item_likes_path(item_id: item.id, ),method: :post, id:"like-button", remote: true do %>
              <i class="far fa-heart mb-0" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<style>
.slick_like_capsule{
  position: relative;
  width :200px;
  max-height: 250px;
  opacity: 1;
  transition: all .3s ease-in-out;
}

.slick_favorite {
  position: absolute;
  top: 115px;
  left: 0;
  padding-left: .36rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  opacity: .8;
  filter: drop-shadow(.1rem .1rem .15rem rgba(0,0,0,0.6));
  border: 2px solid #aaaaaa;
  background-color: #eeeeee;
  transform: scace(1,1);
  transition: transform .1s;
}

.slick_favorite:hover {
  transform: scale(1.2, 1.2);
  opacity: 1;
}

.fa-heart {
  opacity: 1;
  line-height: 2.5rem;
  font-size: 1.5rem;
}

.slick_like_body {
  overflow:   hidden;
  position:   relative;
  border-radius: 1rem;
}
.slick_like_body .caption {
  font-size:    130%;
  color:      #fff;
  padding-top:    60px;
  padding-right:   30px;
}

.slick_like_body .mask {
  width:      100%;
  height:     100%;
  position:   absolute;
  top:      0;
  left:     0;
  opacity:    0;  /* マスクを表示しない */
  box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, 0.5);
  background-color: rgba(0,0,0,.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition:   all 0.3s ease-in-out;
}
.slick_like_capsule:hover .mask {
  opacity:    1;  /* マスクを表示する */
  padding-left:   35%; /* 右にずらす */
}


</style>




<script type="text/javascript">

$('.slick-box<%= slick_like_number %>').slick({
    prevArrow: '<i class="slide-arrow prev-arrow fas fa-angle-left"></i>',
    nextArrow: '<i class="slide-arrow next-arrow fas fa-angle-right"></i>',
    arrows: true,
    centerMode: true,
    autoplay: false,
    slidesToShow: 5,
    slidesToScroll: 1,
});
</script>