<%= render 'carousel' %>

<div class = "row">
      <div class="col-md-3">
          <%= render 'customer/items/genre',genres: @genres %>
      </div>



    <div class="col-md-9">
        <%= render 'animation' %>
            <h4>オススメ商品</h4>

            <%= render 'customer/items/items',items: @items %>




        <div style="text-align : right"><p><%=link_to "もっと見る!!", customer_items_path ,
        class:"btn btn-sm btn-primary text-white badge-pill pr-3"%></p></div>
    </div>
</div>



