

<div class="container">
  <div class="row">

      <div class="col-md-3">
       <sidebar>
	     <div class="box1">
		   <div class="box-title", style=text-align:center>ジャンル検索</div>
       <ul>
          <% @genres.each do |genre| %>
                    <tr>
                    <%= link_to genre.name, customer_items_path %>
                     </tr>
                    <% end %>
       </ul>
</div>
</sidebar>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-9">
        <div img src="main_cake.jpg"></div>

<div class="box2">
ようこそ、NaganoCakeへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。<br>
</div>

<h3>オススメ商品</h3>
<% @items.each do |item| %>
<%= link_to customer_item_path(item) do %>
   <tbody>
    <tr>
        <td><%= attachment_image_tag item,:image, :fill, 100, 100, fallback: "no_image.jpg" %>
      <p><%= item.name %></p>
      <p><%= item.non_taxed_price %></p>
      </td> </tr>
  </tbody>
  <% end %>
<% end %>


<footer>
  <div class="container">
    <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3"><p><%=link_to "もっと見る>", customer_items_path %></p></div>
  </div>
</div>
</footer>



	   </div>
   </div>
</div>


<style>
.box1 {
    padding: 30px 50px;
    margin:50px 0;
    height:600PX;
    font-weight: normal;
    border: solid 1px #000000;
}
.box2 {
   padding:80px 250px;

}
img {
  width:750px;
  height:500px;
  margin-top:50px;
}
.h3{
  padding-top:100px;
}

</style>
