<h2>会員一覧画面</h2>

<table class = "table table-striped">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
        <% @customers.each do | customer | %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.family_name + customer.first_name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
<<<<<<< HEAD
            <td><%= customer.is_cancel ? :'退会済':'有効' %></td>
=======
            <td><%= customer.is_cancel.! %></td>
>>>>>>> a73d91816b3516819e2643f4092d8c008d71f8fd
          </tr>
        <% end %>
</table>
