<h1>
	<%if %>
	    商品一覧画面
	<else>
		<%= genre.name %>一覧画面
	<% end %>
</h1>


<aside>
	<% genres.each do |genre| %>
    <tr>
    <%= link_to genre.name, customer_items_path %>
     </tr>
    <% end %>
</aside>

<table>
<% @items.each do |item| %>
	<%= link_to item_path(item) do %>
	   <tbody>
	    <tr>
	      <td><%= attachment_image_tag item,:image, :fill, 100, 100, fallback: "no_image.jpg" %>
	      <p><%= item.name %></p>
	      <p><%= item.price %></p>
	      </td> </tr>
	  </tbody>
	<% end %>
<% end %>
	  <% paginate @items,class: "paginate" %>
</table>
