<h4><%if params[:genre_id].present? %>
       <%= @genre.name %>一覧画面
    <% else %>
       商品一覧画面
    <% end %>
</h4>





<h5>(全<%= @items.count %>件）</h5>
<div class = "row">
  <div class="col-md-3">
    <%= render 'genre',genres: @genres %>
  </div>

    <div class="col-md-9">
      <%= render 'items',items: @items %>
        <div class="paginate">
         <%= paginate @items,class: "paginate"%>
       </div>
</div>

<style>
.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

</style>