<%if params[:genre_id].present? %>
  <div class=" item-top">
    <%= attachment_image_tag @genre.items.first, :image, :fill, 1900, 800,class:"jumbotron jumbotron-fluid w-100 py-0" %>
    <h4 class="display-4"><%= @genre.name %></h4>
  </div>

<% else %>
  <div class="item-top">
    <div class="jumbotron jumbotron-fluid">
    </div>
    <h4 class="display-4">商品一覧</h4>
  </div>
<% end %>





<h5>(全<%= @items.count %>件）</h5>
<div class = "row">
  <div class="col-md-3">
    <%= render 'genre',genres: @genres %>
  </div>

    <div class="col-md-9">
      <%= render 'items',items: @items%>
      <div class="row">
        </div>
     </div>
    </div>
    <div class="pagination">
      <%= paginate @items,class: "paginate"%>
    </div>
</div>




<style>
.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  height: 40vh;
  background-image: url("/assets/39.jpg");
  background-size: cover;
  background-position: center 60%;
  filter: blur(5px);
  object-fit: cover;
}

.item-top{
  margin-bottom: 15px;
  height: 40vh;
  margin-top: -3rem;
  width: 99vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ddd;
}

.item-top > .display-4 {
  position: absolute;
  width: 99vw;
  height: 40vh;
  line-height: 40vh;
  text-align: center;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 5.5rem;
  color: #fff;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
  top: 0;
  left: 0;
  opacity: .6;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.6));
}


</style>