<div class="row">

   <div class="col-md-3">
      <%= render 'genre',genres: @genres %>
   </div>
  <div class = "col-md-9">
    <table class = "table">
      <tr>
          <th><%= attachment_image_tag @item,:image, :fill, 300, 200, fallback: "no_image.jpg"%></th>
          <th class="col-md-8">
            <h5><%= @item.name %></h5>
            <p><%= @item.description %></p>
            <h4>￥<%= @item.non_taxed_price %> (税込)</h4>
            <%= render 'like',item: @item, customer: @customer %>


    <% if @item.sale_status == "売り切れ" %>
      <p>現在売切れ中です。</p>
    <% else %>
        <% if customer_signed_in? %>
              <%= form_for(@cart_item, url: customer_cart_items_path) do |f| %>
            <div class="input-group mt-5" style="width: 10rem"><%= f.select :quantity ,options_for_select($cart_number), {}, {class:"custom-select custom-select-sm badge-pill"} %>
                  <%= f.hidden_field :customer_id, value: current_customer.id %>
                  <%= f.hidden_field :item_id, value: @item.id %>
                 <div class="input-group-append"><%= f.submit "<<変更", class:"btn btn-sm btn-primary text-white badge-pill pr-3" %></div>
               </div>




              <% end %>
        <% end %>
    <% end %>

     </th>
      </tr>
    </table>
  </div>
</div>

<style>
.image {
 opacity: 1;
 transition: opacity 0.3s ease-in-out;
}
.image:hover{
  opacity: 0.8;
}
</style>
