<div class="row">
  <div class= "col-xl">
<h3 class="mb-3 mt-3">ログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:"needs-validation",novalidate: true}) do |f| %>
<div class="form-row">
  <div class="col mb-3">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス..", class:"form-control", required: :true %>
        <div class="invalid-feedback">
          メールアドレスが間違っているか無効です
        </div>
  </div>
</div>
<div class="form-row">
  <div class="col mb-3">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード..", class:"form-control", required: :true %>
        <div class="invalid-feedback">
          パスワードが間違っているか無効です
        </div>
  </div>
</div>

  <% if devise_mapping.rememberable? %>
    <div class="custom-control custom-switch mb-3">
      <%= f.check_box :remember_me, class:"custom-control-input", novalidate: true %>
      <%= f.label :remember_me,"パスワードを記憶する", class:"custom-control-label"%>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-block btn-outline-primary"%>
  </div>
<% end %>
</div>

<div class="col-xl">
<h3 class="mb-3 mt-3">アカウントをお持ちでない方</h3>
  <div>
　  <p><%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。</p>
  </div>

</div>
</div>

