<div class="row">
  <div class= "col-xl-6">
    <div style="min-height: 8vh;">
      <h3 class="mb-3">お届け先編集</h3>
    </div>

    <%= form_for(@shipping_address, url: customer_shipping_address_path) do |f| %>
    <div class="form-row">
      <div class="col mb-3">
    	<%= f.label :addressee, "宛名" %><br />
    	<%= f.text_field :addressee, value: "#{@shipping_address.addressee}", class:"form-control" %>
    </div>
    </div>
    <div class="form-row">
      <div class="col-sm-3 mb-3">
      	<%= f.label :postal_code, "郵便番号" %><br />
      	<%= f.text_field :postal_code, value: "#{@shipping_address.postal_code}", class:"form-control" %>
     </div>
     <div class="col-sm-9 mb-3">
    	<%= f.label :address, "住所" %><br />
    	<%= f.text_field :address,  value: "#{@shipping_address.address}", class:"form-control" %>
      </div>
    </div>

      <div class="actions">
    	<%= f.submit "編集する", class:"btn btn-primary text-white px-3 badge-pill mr-3 float-right" %>
      </div>
    <% end %>

  </div>
</div>