<div class="row">
  <div class= "col-xl">
    <div style="min-height: 8vh;">
      <h3 class="mb-3">お気に入りリスト</h3>

      <div class="pr-2 text-right" style="width: 100%; border-bottom: 1px solid rgba(0,0,0,0.1);">
        <small class="text-muted">価格</small>
      </div>
    </div>
    <% @likes.each do | like | %>
      <div class="row no-gutters">
        <div class="d-flex col-xl border-bottom">
          <div class="p-2 mr-3" style="width: 180px;" >
            <%= link_to customer_item_path(like.item) do %>
              <%= attachment_image_tag like.item, :image, :fill, 180, 180, fallback: "no_image.jpg", size:"180x180", class:"float-left" %>
            <% end %>
          </div>
          <div class="p-2">
          	<h5 class="card-title"><%= link_to like.item.name, customer_item_path(like.item) %></h5>
            <small class="text-muted mt-2"><%= link_to "お気に入りから外す", customer_item_likes_path(item_id: like.item.id), method: :delete%></small>
            <%= form_for(@cart_item, url: customer_cart_items_path) do |f| %>
              <div class="input-group mt-5" style="width: 15rem"><%= f.select :quantity ,options_for_select($cart_number), {}, {class:"custom-select custom-select-sm badge-pill"} %>
                <%= f.hidden_field :customer_id, value: current_customer.id %>
                <%= f.hidden_field :item_id, value: like.item.id %>
                <div class="input-group-append"><%= f.submit "<<カートに追加", class:"btn btn-sm btn-warning text-white badge-pill pr-3" %>
                </div>
              </div>
            <% end %>
          </div>
          <p class="ml-auto"><strong><%= yen((like.item.non_taxed_price.to_i * 1.1).floor) %></strong></p>
        </div>
      </div>
    <% end %>


    <div class="btn-group mt-5" role="group" aria-label="button-group">
      <button type="button" class="btn btn-primary badge-pill pl-3">
        <%= link_to '<<買い物を続ける', root_path ,class:"text-white",style:"text-decoration: none;" %>
      </button>
      <button type="button" class="btn btn-primary badge-pill text-white pr-3">
        <%= link_to 'マイページへ>>', customer_path, class:"text-white", style:"text-decoration: none;" %>
      </button>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <p><strong>お客様へのおすすめ</strong></p>
    <%= render '/customer/home/slick_like', items: Item.all, slick_like_number: '1' %>
  </div>
</div>