<nav class="navbar navbar-expand-sm navbar-light header-list">
  <ul class="navbar-brand m-0 pl-3">
    <h2 class="pb-1"><a class="m-0 p-0 mr-3" href="/"><i class="fas fa-birthday-cake header-icon"></i></a></h2>
  </ul>
  <a style="font-family: 'Baloo Bhaina 2';font-weight:800;font-size: 2.5rem;">Nagano Cake</a>

  <div class="nav-item_customer ml-auto">
    <a class="nav-link" href="/customer/items">
      <h4 class=""><span class="header_normal  ml-3 "><i class="fas fa-list-ul header-icon"></i></span></h4>
      <h6><span class="header_hover" href="/customer"> 商品一覧</span></h6>
    </a>
  </div>

  <% if customer_signed_in? %>
    <div class="nav-item_customer">
      <a class="nav-link" href="/customer/cart_items">
        <h4><span class="header_normal mr-3"><i class="fas fa-shopping-cart header-icon"></i></span></h4>
        <h6><span class="header_hover" href="/customer"> カート</span></h6>
      </a>
    </div>
  <% end %>

  <div class="header-btn">
    <a class="menu-trigger" href="#" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="navbarToffleExternalContent" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
</nav>

<div class="collapse header-menu" id="Navbar">
  <div class="d-flex justify-content-center p-3">
    <% if customer_signed_in? %>
        <div class="nav-item m-2">
          <a class="">ようこそ<%= current_customer.family_name %>さん！</a>
        </div>
        <div class="nav-item_customer dropdown">
          <a class="nav-link" href="/customer"> マイページ <span class="dropdown-toggle"id="dropdownmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span></a>
            <div class="dropdown-menu"aria-labelledby="dropdownmenu">
              <div class="dropdown-menu-list p-1">
                <a href="/customer/orders">注文履歴一覧</a>
              </div>
              <div class="dropdown-menu-list p-1">
                <a href="/customer/shipping_addresses">配送先一覧</a>
              </div>
              <div class="dropdown-menu-list p-1">
                <a href="/customer/likes">お気に入りリスト</a>
              </div>
            </div>
        </div>
        <div class="nav-item_customer">
          <a class="nav-link" href="/customer/cart_items">カート</a>
        </div>
        <div class="nav-item_customer">
          <a class="nav-link" rel="nofollow" data-method="delete" href="/customers/sign_out"> ログアウト</a>
        </div>
        <div id="nav-search">
          <%= form_tag(search_customer_items_path,:method => 'get') do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], :placeholder => "商品名", class: "form-control badge-pill pl-3" %>
              <span class="input-group-append">
                <%= button_tag :name => nil, class: "btn btn-sm btn-primary text-white badge-pill pr-3" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
    <% else %>
        <div class="nav-item_customer">
          <a class="nav-link" href="/customers/sign_up"> 新規登録</a>
        </div>
        <div class="nav-item_customer">
          <a class="nav-link" href="/customers/sign_in"> ログイン</a>
        </div>
        <div id="nav-search">
          <%= form_tag(search_customer_items_path,:method => 'get') do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], :placeholder => "商品名", class: "form-control badge-pill pl-3" %>
              <span class="input-group-append">
                <%= button_tag :name => nil, class: "btn btn-sm btn-primary text-white badge-pill pr-3" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>