<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">

          <% if request.path.include?('admin') %>
            <%= render 'layouts/admin',admin: @admin %>
          <% else %>
            <%= render 'layouts/customer',customer: @customer %>
          <% end %>
        </nav>
    </header>

    <div class="container mt-5">
      <%= yield %>
    </div>

    <footer class="mt-5">
      <div class="border-top-primary">
        <p class="text-center">ながのCAKE</p><br>
        <p class="text-right">〒×××-××××<br>
        長野県長野市○○○-○○○</p>
      </div>

    </footer>
  </body>
</html>
