<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="navbar navber-default">
          <div class="container-fluid">
            <% if request.path.include?('admin') %>
              <%= render 'layouts/admin',admin: @admin %>
            <% else %>
              <%= render 'layouts/customer',customer: @customer %>
            <% end %>
          </div>
        </nav>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
