<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav navbar-nav navbar-left">
        <span>LOGO</span>
      </nav>
      <%= render 'layouts/customer',customer: @customer %>
      <%= render 'layouts/admin',admin: @admin %>
    </header>

    <%= yield %>
  </body>
</html>
