<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body class="d-flex flex-column" style="min-height: 100vh">

    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-light header-list">

          <% if request.path.include?('admin') %>
            <%= render 'layouts/admin',admin: @admin %>
          <% else %>
            <%= render 'layouts/customer',customer: @customer %>
          <% end %>
        </nav>
    </header>

    <div class="container mt-5 mb-auto">
      <%= yield %>
    </div>


      <footer class="border-top mt-5">

        <% if request.path.include?('admin') %>
          <%= render 'layouts/admin_footer',admin: @admin %>
        <% else %>
          <%= render 'layouts/customer_footer',customer: @customer %>
        <% end %>

        <div class="jumbotron　h-25" style="background-color: #fb5454">
          <div class="text-center text-white">©nagano.cake</div>
        </div>
      </footer>
  </body>
</html>
